/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

input, button, textarea, select {
  font-family: inherit;
  outline: none;
  border: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "Sofia Sans", sans-serif;
}

.wrapper-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar header header header header" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main";
}

.sidebar {
  padding: 53px 0 0 59px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
.sidebar .title {
  color: #000;
  margin-top: 60px;
  font-weight: 800;
  font-size: 3.1rem;
}
.sidebar .nav-link {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 3.1rem;
}
.sidebar .nav-link .item-link {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  column-gap: 1rem;
}
.sidebar .nav-link .item-link img {
  display: block;
  height: 23px;
  width: 23px;
}
.sidebar .info-help {
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
  position: sticky;
  bottom: 62px;
  margin-top: auto;
  background: transparent;
}
.sidebar .info-help span {
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}
.sidebar .info-help img {
  display: block;
  height: 49px;
  width: 49px;
}

.header {
  grid-area: header;
  display: flex;
  height: 128px;
  align-items: center;
}
.header .search {
  display: flex;
  align-items: center;
  column-gap: 1.7rem;
  margin-right: auto;
  cursor: pointer;
}
.header .search .btn-search {
  display: block;
  width: 25px;
  height: 25px;
}
.header .search .search-input {
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #fff;
}
.header .search .search-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.header .nav-link {
  display: flex;
  align-items: center;
  column-gap: 4.6rem;
}
.header .nav-link .item-link {
  position: relative;
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  padding: 8px 0;
}
.header .nav-link .item-link::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width 0.3s;
}
.header .nav-link .item-link:hover::after, .header .nav-link .item-link.active::after {
  width: 100%;
}
.header .user {
  margin-left: 4.9rem;
  display: flex;
  align-items: center;
  column-gap: 2.6rem;
}
.header .user .nav_bar {
  display: none;
}

.main {
  grid-area: main;
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.main .item {
  border-radius: 15px;
}
.main .item img {
  width: 100%;
}
.main .item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.main .item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
.main .item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/5;
}
.main .item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/5;
}
.main .item:nth-child(5) {
  grid-column: 3/5;
  grid-row: 4/5;
}
.main .item:nth-child(6) {
  grid-column: 3/5;
  grid-row: 3/4;
}
.main .item:nth-child(7) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.main .item:last-child {
  grid-column: 4/5;
  grid-row: 1/3;
}

@media screen and (max-width: 1500px) {
  .wrapper-inner {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1300px) {
  .wrapper-inner {
    max-width: 1020px;
  }
  .sidebar {
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper-inner {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto repeat(4, 1fr);
    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" " main main main main" " main main main main" " main main main main" " main main main main";
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    height: 29px;
    overflow: hidden;
    transition: padding-bottom 0.3s;
  }
  .header .search {
    order: 1;
    margin: 0;
    margin-right: auto;
  }
  .header .nav-link {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.06);
    justify-content: space-between;
    row-gap: 10px;
    border-radius: 12px;
  }
  .header .user {
    order: 2;
  }
  .header .user .nav_bar {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #000;
    line-height: 30px;
  }
  .main {
    margin-top: 30px;
  }
  .sidebar {
    display: flex;
    grid-area: sidebar;
    flex-direction: row;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
  }
  .sidebar .btn-logo {
    margin-right: auto;
  }
  .sidebar .info-help {
    position: fixed;
    background-color: #fff;
    border-radius: 99px;
    padding: 3px 5px;
    bottom: 40px;
  }
  .sidebar .nav-link {
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  .sidebar .nav-link .item-link {
    flex: 1;
  }
  .sidebar .title {
    margin: 0;
  }
  input[class=check-label]:checked ~ .header {
    padding-bottom: 170px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 20px;
  }
  .header .user img {
    display: none;
  }
  .sidebar .nav-link {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
