* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  outline: none;
  border: none;
}
main {
  display: flex;
  inset: 0;
  position: fixed;
  background-color: #2f3335;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
form {
  padding: 1.5rem;
  background: #181a1b;
  border-radius: 0.25rem;
}
.label {
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
}
.input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1px;
  border-radius: 0.375rem;
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  background: rgb(44 48 50);
  color: rgb(164 169 158);
}
.submit {
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgb(29 22 156);
  border-color: transparent;
  border-width: 1px;
  border-radius: 0.375rem;
  width: 100%;
  margin-top: 0.75rem;
  background-image: none;
  cursor: pointer;
  text-transform: none;
}
