<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Xin chào <%= infor %></h1>
    <a href="/logout" class="btn btn-info text-white">Đăng xuất</a>
  </body>
</html>
